{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
	{% with messages = get_flashed_messages() %}
		{% if not messages %}
		<h1>Orton</h1>
		<p class="lead">Get an email containing your restitution history.</p>
			<form class="form-inline" action="/send-email" method="post">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" name="email" placeholder="Email address">
					<span class="input-group-addon">@georgeschool.org</span>
				</div>
				<br>
				<button type="submit" class="btn btn-success btn-lg">Send</button>
			</form>
		{% else %}
		<p>{{ messages[0] }}</p>
		{% endif %}
	{% endwith %}
</div>
{% endblock %}