<!doctype html>
<html>
	<head>
		<title>Orton Restitution</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="/static/custom.css" rel="stylesheet">
		<style>
			@media (max-width: 767px) {
				.input-group-addon {
				    display: none;
			    }
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h3 class="text-muted">Orton Restitution</h3>
			</div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>