<!doctype html>
<html>
	<head>
		<title>Orton Restitution</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="/static/custom.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h3 class="text-muted">Orton Restitution</h3>
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="container">
			<div class="footer">
				<p class="text-muted text-right"><a href="https://github.com/kochman/OrtRes">View source</a></p>
			</div>
		</div>
	</body>
</html>